name: Format code with Ruff

on:
  pull_request:
    branches:
      - ci
    # types:
    # - labeled

jobs:
  format:
    runs-on: ubuntu-latest
    ## Steps will only run if pull request has label: release
    # if: ${{ github.event.label.name == 'release' }}

    steps:
      ## Checkout repo in runner
      # - name: Checkout repo
      #   uses: actions/checkout@v2
      #   with:
      #     ref: release

      ## Use PDM in actions
      - name: Install ruff
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: 3.10
          cache: true

      ## Install dependencies
      - name: Install dependencies wth PDM
        run: pdm install

      ## Run Ruff with --fix
      - name: Format with Ruff
        run: ruff check . --fix
